@model MvcLabManager.Models.Lab
@{
    ViewData["Title"] = "Atualizar Lab";
}
<h1>@ViewData["Title"]</h1>

<p>Atualização - Lab</p>

<form class="form" asp-controller="Lab" asp-action="Update" asp-route-id="@Model.Id" method="POST">
   <label for="Number">Número</label>
    <input type="number" id="Number" name="Number" asp-for="@Model.Number">
    <span asp-validation-for="@Model.Number" class="text-danger"></span>

    <label for="Name">Nome</label>
    <input type="text" id="Name" name="Name" asp-for="@Model.Name">
    <span asp-validation-for="@Model.Name" class="text-danger"></span>

    <label for="Block">Bloco</label>
    <input type="text" id="Block" name="Block" asp-for="@Model.Block">
    <span asp-validation-for="@Model.Block" class="text-danger"></span>

    <input class="submit" type="submit" value="Atualizar">
</form>